# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
*.suo
*.user
*.py
*.bak
*.lua

# built application files
*.apk
*.ap_

# nuget packages
packages

# mstest test results
TestResults

# Resharper
_Resharper*

# Dynamic created files
VersionInfo.cs

# ncrunch test settings
*.ncrunchsolution
*.ncrunchproject

# Build output
Output
OutputTemp
InstallerTemp
/Lib/OculusVR/Code/OculusSDK.7z
/Lib/HEAD.zip
/.vs/Freepie
/.vs/Freepie/FileContentIndex
/.vs/Freepie/FileContentIndex/96d490e6-4664-4fb2-98cd-abc9f3bc0ac9.vsidx
/.vs/Freepie/FileContentIndex/read.lock
/.vs/Freepie/v17
/.vs/Freepie/v17/.wsuo
/.vs/Freepie/v17/TestStore/0
/.vs/Freepie/v17/TestStore/0/000.testlog
/.vs/Freepie/v17/TestStore/0/testlog.manifest
/.vs
/Lib/OculusVR/Code/.vs/OVRFreePIE
/Lib/OculusVR/Code/binaries/Win32/Release
/Lib/OculusVR/Code/Debug
/Lib/OculusVR/Code/Release
