# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
*.suo
*.user
*.py
*.bak
*.lua

# built application files
*.apk
*.ap_

# nuget packages
packages

# mstest test results
TestResults

# Resharper
_Resharper*

# Dynamic created files
VersionInfo.cs

# ncrunch test settings
*.ncrunchsolution
*.ncrunchproject

# Build output
Output
OutputTemp
InstallerTemp
Debug
Release
NPClient
/Lib/OculusVR/Code/OculusSDK.7z
/Lib/HEAD.zip
/.vs/Freepie
/.vs/Freepie/FileContentIndex
/.vs/Freepie/FileContentIndex/96d490e6-4664-4fb2-98cd-abc9f3bc0ac9.vsidx
/.vs/Freepie/FileContentIndex/read.lock
/.vs/Freepie/v17
/.vs/Freepie/v17/.wsuo
/.vs/Freepie/v17/TestStore/0
/.vs/Freepie/v17/TestStore/0/000.testlog
/.vs/Freepie/v17/TestStore/0/testlog.manifest
/.vs
/Lib/OculusVR/Code/.vs/OVRFreePIE
/Lib/OculusVR/Code/binaries/Win32/Release
/Lib/OculusVR/Code/Debug
/Lib/OculusVR/Code/Release
/Lib/OculusVR/Code/binaries/Win32/Debug
/Lib/OculusVR/Code/LibOVR2
/Lib/OpenVR/Code/.vs
/Lib/OpenVR/Code/binaries/Win32/Release
/Lib/OpenVR/Code/Debug
/Lib/OpenVR/Code/LibOVR/Extras
/Lib/OpenVR/Code/LibOVR/LibOVR.lib
/Lib/OpenVR/Code/LibOVR/openvr.h
/Lib/OpenVR/Code/LibOVR/openvr_api.cs
/Lib/OpenVR/Code/LibOVR/openvr_api.dll
/Lib/OpenVR/Code/LibOVR/openvr_api.lib
/Lib/OpenVR/Code/LibOVR/openvr_api.pdb
/Lib/OpenVR/Code/LibOVR/openvr_capi.h
/Lib/OpenVR/Code/LibOVR/openxr.h
/Lib/OpenVR/Code/LibOVR/openxr_loader.dll
/Lib/OpenVR/Code/LibOVR/openxr_loader.lib
/Lib/OpenVR/Code/LibOVR/openxr_loader_negotiation.h
/Lib/OpenVR/Code/LibOVR/openxr_platform.h
/Lib/OpenVR/Code/LibOVR/openxr_platform_defines.h
/Lib/OpenVR/Code/LibOVR/openxr_reflection.h
/Lib/OpenVR/Code/LibOVR/openxr_reflection_parent_structs.h
/Lib/OpenVR/Code/LibOVR/openxr_reflection_structs.h
/Lib/OpenVR/Code/LibOVR/OVR_CAPI.h
/Lib/OpenVR/Code/LibOVR/OVR_CAPI_Keys.h
/Lib/OpenVR/Code/LibOVR/OVR_ErrorCode.h
/Lib/OpenVR/Code/LibOVR/OVR_Version.h
/Lib/OpenVR/Code/Release
/Lib/OpenXR/Code/.vs
/Lib/OpenXR/Code/binaries/Win32/Release
/Lib/OpenXR/Code/Debug
/Lib/OpenXR/Code/LibOVR/openxr.h
/Lib/OpenXR/Code/LibOVR/openxr_loader.dll
/Lib/OpenXR/Code/LibOVR/openxr_loader.lib
/Lib/OpenXR/Code/LibOVR/openxr_loader_negotiation.h
/Lib/OpenXR/Code/LibOVR/openxr_platform.h
/Lib/OpenXR/Code/LibOVR/openxr_platform_defines.h
/Lib/OpenXR/Code/LibOVR/openxr_reflection.h
/Lib/OpenXR/Code/LibOVR/openxr_reflection_parent_structs.h
/Lib/OpenXR/Code/LibOVR/openxr_reflection_structs.h
/Lib/OpenXR/Code/Release
/Lib/OpenXR/Chapter4
/Lib/OculusVR/Code/binaries/x64/Release
/Lib/OpenVR/Code/binaries/x64/Release
/Lib/OpenVR/Code/LibOVR/Win32
/Lib/OpenVR/Code/LibOVR/Win64
/Lib/OpenXR/Code/binaries/x64/Release
/Lib/OpenXR/Code/LibOVR/Win32
/Lib/OpenXR/Code/LibOVR/Win64
.vs
.idea
*.tlog
*.log
*.pdb
*.obj
